html {
    max-width: 100%;
    overflow-x: hidden;
    background-color:rgb(28, 28, 28);
}

.dark {
    background-color: rgb(28, 28, 28)
}

.medium {
    background-color: lightblue;
}

.light {
    background-color: seashell;
}

.teal {
    background-color:#76b4bd;
}

.white-background {
    background-color: white;
}

.white {
    color:white;
}

.black {
    color: black;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 0.75rem;
}

p {
    font-size: 0.6rem;
}

.section {
    min-height: 100vh;
    
}

.small-section {
    min-height: 60vh;
    
}

.project-heading {
    
    text-align: center;
    padding: 5rem
}

.sub-heading {
    
    text-align: center;
}

.hero-image {
    
  
    /* Set a specific height */
    height: 100vh;
    
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }

  .header {
      height: 5rem;
      flex-direction: row;
  }

  .header li {
      padding: 1rem;
      text-decoration: none;
      color: white;
      cursor: pointer;
  }

  .header a {
      text-decoration: none;
  }

  .header li:hover {
      color: darkred
  }

  .full-name {
      font-size: 2rem;
      font-family: 'Poppins', sans-serif;
      padding: 1rem;
      margin-left: 2rem;
  }

  .social-icon-box {
    margin-right: 2rem;
    padding: 1rem;
    margin-left: auto;
  }

  .social-icon-box a {
      padding: 1rem;
  }

.active {
      color:cornflowerblue;
      text-decoration: none;
  }

  .active:hover {
      color: darkred;
  }

  .devicon-linkedin-plain {
      font-size: 3rem;
      
  }

  .devicon-linkedin-plain:hover {
    color:darkred;
    
}

  .devicon-github-original {
    font-size: 3rem;
  } 
  
  .devicon-github-original:hover {
      color: darkred;
  }

 .fa-envelope {
    font-size: 3rem;
    
 }

 .fa-envelope:hover {
     color: darkred;
 }

 .icon-row {
     flex-direction: row;
     align-items: center;
     justify-content: center;
     padding: 2rem;
 }

 .icon-row a {
    padding: 1rem;
    text-decoration: none;
 }

 .icon-row a:hover {
     color: darkred;
 }
  
  /* Project cards */
  
  .card-row {
padding-bottom: 5rem;
    justify-content: center;
    align-self: center;
    margin:15px

}

.plain-card-row {
    justify-content: center;
    align-self: center;
    padding-top: 2rem;;
}

.project-card {
    height: 25rem;
    border-radius: 30px;
    margin-top: 3rem;
    background-color: white;
    border-width: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
     
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project-card .title {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.project-card .sub-title {
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: darkred;
}

.project-card .body-text {
    padding: 2.5rem;
    font-size: 0.8rem;
}

.single-button-box {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.project-card .button-box {
    flex-direction: row;
    width: 80%;
    display: block;
    position: absolute;
    bottom: 0.75rem; 

    
}

.project-card .btn {
    width: 100%;
    
    
}

.store-button {
    background-color: black;
    border-color: black;
}

.plain-card {
    height: 25rem;
    border-radius: 30px;
    margin-top: 3rem;
    border-width: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-image {
    width: 40%;
    align-content: center;
    
}

.card-title {
    text-align: center;
    align-content: center;
    
}

.info-icon-row {
    flex-direction: row;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0.75rem; 
    text-align: center;
    font-size: 2rem;
}

.return-icon-row {
    flex-direction: row;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.about-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 5rem;
    max-height: 400px;
}

.about-text {
    text-align: center;
}

.footer {
    display: block;
    text-align: center;
    padding: 30px 0;
    background-color: white;
  }

  .contact-card {
    padding: 4rem 2.5rem 2.5rem 2.5rem;
    background-color: lightblue;
    margin-top: 5rem;
  }

  

@media (min-width: 480px) {

    .hero-image{
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://res.cloudinary.com/dujftalas/image/upload/v1620685731/computer_ofkb9a.jpg");
    }
    }
 
    
    @media (max-width: 550px) {
        .hero-image{
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://res.cloudinary.com/dujftalas/image/upload/v1620686066/tall-computer_wmt1hz.jpg");
}

.devicon-linkedin-plain {
    font-size: 1.5rem;
    
}
.devicon-github-original {
    font-size: 1.5rem;
    
}
.fa-envelope {
    font-size: 1.5rem;
    
 }
 .container {
     margin: 0;
 }

 .project-card .body-text {
    padding: 1rem;
    font-size: 0.7rem;
}

.about-text {
    padding: 1rem;
}

.about-text h4 {
    font-size: 1.2rem;
}

.contact-card {
    margin-top: 2rem;
}

 
        }
        